.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
}
.top-button{
    display: flex;
    gap: 32px;
}
.top-button button{
    transition: all 0.3s;
    font-weight: bold;
}

.contact_from{
    display: flex;
    flex-direction: column;
    gap: 24px;  
}
.contact_from form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.form-control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    transition: all 0.2s;
}
.form-control input{
    height: 40px;
    padding: 0 8px;
}
.form-control textarea{
    padding:  8px;
    background: transparent;
}
.form-control label {
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 14px;
    background-color: white;
    padding: 0 10px;
}
.form-control:hover{
    box-shadow: 5px 5px 5px  gray;
}
.top-button  button:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}